@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

.signUpMainSection{
    padding: 20px;
    width: 150vh;
    height: 100w;
    margin: 50px auto;
    border: 1px solid rgb(243, 233, 233);
}
.nameSection{
    display: flex;
}
.nameSection .nameField {
    width: 100%;
    margin-right: 10px;
}
.nameSection .nameField input{
    width: 100%;
    padding: 7px;
    border-radius: 5px;
}
.emailField,.passwordField{
    width: 100%;
    padding-top: 20px;
    padding-right: 10px;
}
.emailField input, .passwordField input{
    width: 100%;
    padding: 7px;
    border-radius: 5px;
}

/* Email Required  */
.emailRequired{
     padding: 5px;
    width: 50%;
    margin: 3px auto;
    color: red;
    font-size: 17px;
    text-align: center;
}
.dateOfBirthmainSection{
    margin-top: 10px;
    margin-bottom: 10px;
}
.dateOfBirthmainSection .label1 ,.GenderSection .label1{
    font-weight: 600;
}

.dateOfBirthsubSection{
    display: flex;  
    margin-right: 4px;
    margin-top: 5px;
}
.daySection, .monthSection, .yearSection{
    display: flex;
    justify-content: space-between;
    flex-basis: auto;
    border: 2px solid rgb(63, 45, 45);
    width: 33%;
    margin-right: 20px;
}
.yearSection{
    margin-right: 10px;
}
.daySection select{
    margin-left: 230px;
}
.monthSection select{
    margin-left: 208px;
}
.yearSection select{
    margin-left: 192px;

}

/* Date Of Birth Required Field  */
.dateofBirthRequired{
    border: 2px solid red;
    padding: 5px;
    border-radius: 5px;
    width: 50%;
    margin: 15px auto;
    color: red;
    font-size: 17px;
    text-align: center;
}


/* Gender Section CSS  */
.GenderSection{
    margin-top: 20px;
      /* display: flex; */
}
.genderMain{
    display: flex;
    margin-top: 15px;
}
.genderSubSection{
    padding: 5px;
}
.GenderSection .genderSubSection{
    display: flex;
    justify-content: space-between;
    width: 33%;
    border: 1px solid black;
    margin-right: 20px;
}

.info{
    text-align: center;
    margin-top: 10px;
}

.buttonSection{
   
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    padding: 50px;
}
.signUpBtn{
    background-color: rgb(52, 48, 48);
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    cursor: pointer;

}
.cancelBtn{
    background-color:red;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


/* DisplayData  */
.displayData{
    width: 50%;
    margin: 0 auto;
}
.displayData h2{
    text-align: center;
    margin-bottom: 20px;
}